absl-py
alabaster
anaconda-client
# anaconda-navigator
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
astroid
asttokens
astunparse
async-generator
atomicwrites
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref
bcrypt
beautifulsoup4
bleach
blis
Bottleneck
Brotli
brotlipy
bs4
cachetools
captum
catalogue
certifi
cffi
chardet
click
cloudpickle
clyent
cmake
colorama
compound-word-splitter
conda
conda-build
# conda-content-trust
# conda-package-handling
# conda-repo-cli
# conda-token
# conda-verify
configparser
crayons
cryptography
cssselect
cssutils
cycler
cymem
Cython
debugpy
decorator
defusedxml
diff-match-patch
distlib
dlib
docutils
entrypoints
executing
face-recognition
face-recognition-models
fastai
fastcore
fastdownload
fastprogress
filelock
flake8
Flask
Flask-Compress
Flask-MySQLdb
Flask-SQLAlchemy
flatbuffers
fonttools
future
gast
gensim
glob2
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
GPUtil
greenlet
grpcio
grpcio-status
gunicorn
h11
idna
imagesize
importlib-metadata
intel-openmp
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaggle
keras
Keras-Preprocessing
kiwisolver
libarchive-c
lightgbm
llvmlite
lockfile
lxml
Markdown
MarkupSafe
matplotlib
mccabe
mistune
mkl-fft
mkl-random
mkl-service
mock
more-itertools
mpmath
msgpack
multidict
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
oauthlib
olefile
opencv-python-headless
openpyxl
opt-einsum
packaging
pandas
pandocfilters
paramiko
parso
partd
pathlib
pathtools
patsy
pbr
pdfminer.six
pep8
pexpect
pickleshare
Pillow
pip
pkginfo
plac
plotly
pluggy
ply
poyo
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
pycodestyle
pycosat
pycparser
pycryptodome
pydocstyle
pyflakes
Pygments
pylint
pyOpenSSL
pyparsing
PySocks
pytest
python-dateutil
python-dotenv
python-jsonrpc-server
python-language-server
pytz
pywavelets